<div id="map" style="height: 100%">
    <div class="side-menu" id="sideMenu">
        <menu style=" position: absolute; z-index: 500;">
            <ul class="nav nav-tabs nav-stacked">
                <li><a href="#myModal" data-backdrop="false" data-toggle="modal"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>  Search and Select</a>
                </li>

                <div class="btn-group">
                  <button type="button"  class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a ng-click="changeStyle(manholes, 'horizontalQuality')" data-backdrop="false"> Horizontal Quality</li>
                    <li><a ng-click="changeStyle(manholes, 'dPsSewerDistrict')" data-backdrop="false"> Sewer District</li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#" >Restore Default</a></li>
                  </ul>
                </div>
                <li><button ng-click="showLegend = !showLegend" data-backdrop="false" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>  SomeButton</button>
                </li>
                <li><button ng-click="boxSelect()" data-backdrop="false" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>BoxGrab</button>
                </li>
            </ul>
        </menu>
    </div>


<!--     BOOTSTRAP MODAL STUFF -->
    <div id="myModal" class="modal fade" style="width:50%; height:30%;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Select & Search</h4>
                    
                </div>
                <div class="modal-body">
                  <div class="row" style="margin-bottom: 10px">
                    <div class="col-md-4" >
                      <label for="layerSelect">Choose Layer To Select</label>
                    </div>
                    <div class="col-md-4 ">  
                      <select  id="layerSelect" ng-change="test(selectableLayer)" class="selectpicker" ng-options="layer.name for layer in mapLayers" ng-model="selectableLayer">
                      </select>
                    </div>
                  </div>
                  <div id="selectAlert" class="row" ng-if="selectableLayer">
                    <div class="alert alert-info" role="alert">Click a Feature From <strong>{{displayInfo}}</strong> to View Details
                    <div ng-show="displayInfo === 'Sewer Outlines'"><strong>or </strong>Search By Contract Number</div>
                  </div>
                </div>
                <div ng-show="displayInfo === 'Sewer Outlines'">
                        <label>ContractNumber
                            <input class="inputNumber" ng-model="search.ContractNumber">
                        </label>
                        <button type="button" class="btn btn-primary btn-sm" ng-click="queryByString(search.ContractNumber)">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
                        </button>
                    </div>
                <div class="modal-footer">
                    <button style="left: 20px" type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->  
  </div>
  <h2  style="bottom: 10%; left: 1%; position: absolute; z-index: 500"></h2>
  <legend ng-show="showLegend"></legend>
  <widget-esri map="map" style="top: 10%; left: 80%; position: absolute; z-index: 500">
    hi
  </widget-esri>
   <contract-info ></contract-info>
</div>
