.list-group-item:hover{
	background-color: grey;
}

/*.active{
	background-color: grey;
}*/

.nav li a {
	background-color: whitesmoke;
}

.dropdown-menu li a{
	background-color: white;
}

.aler {
	padding: 0;
	margin: 0;
	margin-bottom: 0;
}

#myModal {
	width:30%;
	height:20%;
    overflow: visible;
}
.modal-header, .modal-content, .modal
{
	width:inherit;
	height:inherit;
    overflow: hidden;

}

.modal-header{
	background-color: #719971;
	color: white;
}

.modal-footer{
	min-height: 36%;
}
@media screen and (min-width: 768px) {
	
	#myModal .modal-dialog, #myModal  {
		width:400px !important;
		height: auto !important;
		margin: 0 !important;
	}

}

.tab-pane {
	min-height: 100px;
	background-color: white;
}

#layerSelect{
	 vertical-align:middle;

}

#selectAlert{
	text-align: center;
}