.list-group-item:hover{
	background-color: grey;
}

.active{
	background-color: grey;
}

.nav li a {
	background-color: whitesmoke;
}




.modal
{
	width:50%;
	height:30%;
    overflow: hidden;

}
.modal-dialog{
    margin-right: 0;
    margin-left: 0;
    margin:0;
}